NEXT_PUBLIC_GOOGLE_CLIENT_ID=
NEXT_PUBLIC_GOOGLE_SECRET_ID=
NEXT_PUBLIC_FACEBOOK_CLIENT_ID=
NEXT_PUBLIC_FACEBOOK_SECRET_ID=
NEXT_PUBLIC_STRIPE_PUBLIC_KEY=pk_test_51QMWCiRpp8UeTXJkN0EnDgTsWfWeKoM6tIUzbSSKSTxl10aXHNU4ZL5db5z0jJ1128JWvQd1BN1px2Ggh8Jvj0Yj00rIlERENN
NEXT_PUBLIC_BASE_DEV_URL=http://localhost:3001
NEXTAUTH_URL=http://localhost:3000
NEXT_PUBLIC_SESSION_SECRET_KEY=ABCDEFGHKLMNOPQ
AUTH_SECRET="F6keo6z8MNIRyoDlht+KZPEd3yDIWU/j2w6NreT8UoE=" # Added by `npx auth`. Read more: https://cli.authjs.dev
NEXT_PUBLIC_AUTH_SECRET="F6keo6z8MNIRyoDlht+KZPEd3yDIWU/j2w6NreT8UoE="
NEXT_PUBLIC_NODE_ENV=development
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=6LcMtdkqAAAAALHhvSGVEaG0Z1aFM1aQ8Vmpz58k